doctype html
html(lang="en")
  head
    title Load Balancing
    style.
      body {
      background-color: #1d3557;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      }
      .card {
      background-color: white;
      border-radius: 10px;
      padding: 20px 15px;
      min-width:200px;
      box-shadow: 0px 4px 16px #457b9d;
      }
      span {
        margin: 0px 5px;
        color: #457b9d;
      }
  body
    .card
      p
        strong Cores:&nbsp;
        span= cores
      p
        strong Total Memory:&nbsp;
        span= totalMem
      p
        strong ipv4:&nbsp;
        span= ip4
